ul.navigation {
    display: block;
}

.navigation li {
    display: block;
    float: left;
    padding: 5px;
    background-color: green;
    margin-right: 5px;
}

.center-cropped {
    object-fit: cover;
    object-position: center;
}

.text-shadow {
    text-shadow: 0 0 1px black;
}
