<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<section id="header">
    <ul class="navigation">
        {% for title, link in links.items() %}
            <li>
                <a href="{{ link }}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
<section id="content">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>
