{% extends "base.html" %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <script>
    const products = []
    </script>
    <div class="card-deck">
        {% for product in products %}
            <div class="card" data-product="{{ product|tojson|forceescape }}">
            {% if product.image_url %}
                <img class="card-img-top"
                     src="{{ product.image_url }}"
                     alt="{{ product.image_title }}">
            {% else %}
                <img class="card-img-top"
                     src="https://via.placeholder.com/150">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">
                        {% if product.price %}
                            <small class="text-bold">{{ product.price }} р.</small>
                        {% else %}
                            <small class="text-muted">Нет в наличии</small>
                        {% endif %}
                    </p>
                <script type="text/javascript">
                    products[{{ product.id }}] = {
                        id: {{ product.id }},
                        title: '{{ product.title }}',
                        sum: 0,
                        amount: 1,
                        price: {{ product.price }},
                    }
                </script>
                <button class="add-button" data-id="{{ product.id }}">Добавить в корзину</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="/static/product.js"></script>
{% endblock %}
